<app-header>
  <p levels>Samochody / {{car.model}}</p>
  <div content>
    <p>Car details</p>
  </div>
</app-header>
<p class="data-header">Edytuj {{car.model}}</p>
<div class="data-container">
  <form [formGroup]="carForm">
    <div class="row form-group">
      <div class="col-sm-4">
        <label for="">Model</label>
        <input formControlName="model" type="text" class="form-control" placeholder="model">
        <p *ngIf="!carForm.get('model').valid && carForm.get('model').dirty" class="error">To pole jest wymagane</p>
      </div>
      <div class="col-sm-4">
        <label for="">Typ</label>
        <input formControlName="type" type="text" class="form-control" placeholder="typ">
      </div>
      <div class="col-sm-4">
        <label for="">Numer rejestracyjny</label>
        <input formControlName="plate" type="text" class="form-control" placeholder="numer rejestracyjny">
        <p *ngIf="!carForm.get('plate').valid && carForm.get('plate').dirty" class="error">To pole jest wymagane i musi zawierać od 3 do 7 znaków.</p>
      </div>
    </div>
    <div class="row form-group">
      <div class="col-sm-4">
        <label for="">Data dostarczenia</label>
        <input formControlName="deliveryDate" type="text" class="form-control" placeholder="data dostarczenia">
      </div>
      <div class="col-sm-4">
        <label for="">Termin oddania</label>
        <input formControlName="deadline" type="text" class="form-control" placeholder="termin oddania">
      </div>
      <div class="col-sm-4">
        <label for="">Kolor</label>
        <input formControlName="color" type="text" class="form-control" placeholder="kolor">
      </div>
    </div>
    <div class="row form-group">
      <div class="col-sm-4">
        <label for="">Moc</label>
        <input formControlName="power" type="text" class="form-control" placeholder="moc">
      </div>
      <div class="col-sm-4">
        <label for="">Klient: imię</label>
        <input formControlName="clientFirstName" type="text" class="form-control" placeholder="imię">
      </div>
      <div class="col-sm-4">
        <label for="">Klient: nazwisko</label>
        <input formControlName="clientSurname" type="text" class="form-control" placeholder="nazwisko">
      </div>
    </div>
    <div class="row form-group">
      <div class="col-sm-4">
        <label for="">Rok produkcji</label>
        <input formControlName="year" type="text" class="form-control" placeholder="rok produkcji">
      </div>
      <div class="col-sm-4">
        <label for="">Jest uszkodzony?
          <input formControlName="isFullyDamaged" type="checkbox" class="form-control" placeholder="uszkodzony">
        </label>
      </div>
      <div class="col-sm-4">
        <label for="">Koszt</label>
        <input formControlName="cost" type="text" class="form-control" placeholder="koszt">
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <button [disabled]="carForm.invalid" (click)="updateCar()" type="submit" class="btn btn-primary float-right">Aktualizuj dane</button>
        <button (click)="carForm.reset()" type="submit" class="btn btn-default float-right">Wyczyść</button>
      </div>
    </div>
  </form>
</div>
