<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <table *ngIf="cars.length>0; else noCarsInfo" class="cs-table table table-striped">
        <thead>
          <tr>
            <th>Model</th>
            <th>Nr rejestracyjny</th>
            <th>Data dostarczenia</th>
            <th>Termin oddania</th>
            <th>Klient</th>
            <th>Koszt </th>
            <th>Usuń</th>
          </tr>
        </thead>
        <tbody>
          <tr [ngClass]="{'row-error':car.isFullyDamaged}" *ngFor="let car of cars; let i=index">
            <td>{{car.model}}</td>
            <td>{{car.plate}}</td>
            <td>{{car.deliveryDate}}</td>
            <td>{{car.deadline}}</td>
            <td>{{car.client.firstName}} {{car.client.surname}}</td>
            <td>{{car.cost}}</td>
            <td>( x )</td>
          </tr>
        </tbody>
      </table>
      <ng-template #noCarsInfo>
        <div class="no-cars-info">
          <p>Brak samochodów do wyświetlenia</p>
        </div>
      </ng-template>
    </div>
  </div>
  <app-total-cost [totalCost]='totalCost'></app-total-cost>
</div>
