<app-header>
  <p levels>Cars</p>
  <div content>
    <p>Lista samochodów w serwisie</p>
  </div>
</app-header>
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <table *ngIf="cars && cars.length>0; else noCarsInfo" class="cs-table table table-striped">
        <thead>
          <tr>
            <th>Model</th>
            <th>Nr rejestracyjny</th>
            <th>Data dostarczenia</th>
            <th>Termin oddania</th>
            <th>Klient</th>
            <th>Koszt </th>
            <th>Usuń</th>
          </tr>
        </thead>
        <tbody>
          <tr class="row-car" [ngClass]="{'row-error':car.isFullyDamaged}" *ngFor="let car of cars" (click)='goToCarDetails(car)'>
            <td appImportant >{{car?.model | uppercase}}</td>
            <td>{{car?.plate}}</td>
            <td>{{car?.deliveryDate|date:'shortDate'}}</td>
            <td>{{car?.deadline|date:'shortDate'}}</td>
            <td>{{car?.clientFirstName| nameShortcut}} {{car?.clientSurname}}</td>
            <td appImportant>{{car?.cost|currency:'PLN ':true}}</td>
            <td><button (click)='removeCar(car, $event)' type="button" class="close" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button></td>
          </tr>
        </tbody>
      </table>
      <ng-template #noCarsInfo>
        <div class="no-cars-info">
          <p>Brak samochodów do wyświetlenia</p>
        </div>
      </ng-template>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <button (click)="showGross()" class="btn btn-primary float-left">Pokaż kwotę brutto</button>
    </div>
  </div>
  <app-total-cost #totalCostRef [totalCost]='totalCost' (shownGross)="onShownGross($event)"></app-total-cost>
  <div class="row " *ngIf="grossCost">
    <div class="col-sm-12">
      <div class="total-cost">
        <p class="text-right">Kwota brutto: {{grossCost |roundTwoPlace}} PLN</p>
      </div>
    </div>
  </div>
</div>
<p class="data-header">Dodaj nowy samochód</p>
<div class="data-container">
  <form [formGroup]="carForm">
    <div class="row form-group">
      <div class="col-sm-4">
        <label for="">Model</label>
        <input formControlName="model" type="text" class="form-control" placeholder="model">
        <p *ngIf="!carForm.get('model').valid && carForm.get('model').dirty" class="error">To pole jest wymagane</p>
      </div>
      <div class="col-sm-4">
        <label for="">Typ</label>
        <input formControlName="type" type="text" class="form-control" placeholder="typ">
      </div>
      <div class="col-sm-4">
        <label for="">Numer rejestracyjny</label>
        <input formControlName="plate" type="text" class="form-control" placeholder="numer rejestracyjny">
        <p *ngIf="!carForm.get('plate').valid && carForm.get('plate').dirty" class="error">To pole jest wymagane i musi zawierać od 3 do 7 znaków.</p>
      </div>
    </div>
    <div class="row form-group">
      <div class="col-sm-4">
        <label for="">Data dostarczenia</label>
        <input formControlName="deliveryDate" type="date" class="form-control" placeholder="data dostarczenia">
      </div>
      <div class="col-sm-4">
        <label for="">Termin oddania</label>
        <input formControlName="deadline" type="date" class="form-control" placeholder="termin oddania">
      </div>
      <div class="col-sm-4">
        <label for="">Kolor</label>
        <input formControlName="color" type="text" class="form-control" placeholder="kolor">
      </div>
    </div>
    <div class="row form-group">
      <div class="col-sm-4">
        <label for="">Moc</label>
        <input formControlName="power" type="number" class="form-control" placeholder="moc">
      </div>
      <div class="col-sm-4">
        <label for="">Klient: imię</label>
        <input formControlName="clientFirstName" type="text" class="form-control" placeholder="imię">
      </div>
      <div class="col-sm-4">
        <label for="">Klient: nazwisko</label>
        <input formControlName="clientSurname" type="text" class="form-control" placeholder="nazwisko">
      </div>
    </div>
    <div class="row form-group">
      <div class="col-sm-4">
        <label for="">Rok produkcji</label>
        <input formControlName="year" type="number" min="1900" max="2099" step="1" class="form-control" placeholder="rok produkcji">
      </div>
      <div class="col-sm-4">
        <label for="">Jest uszkodzony?
          <input formControlName="isFullyDamaged" type="checkbox" class="form-control" placeholder="uszkodzony">
        </label>
      </div>
      <div class="col-sm-4">
        <label for="">Koszt</label>
        <input formControlName="cost" type="number" class="form-control" placeholder="koszt">
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
          <button [disabled]="carForm.invalid" (click)="addCar()" type="submit" class="btn btn-primary float-right">Dodaj samochód</button>
        <button  (click)="carForm.reset()" type="submit" class="btn btn-default float-right">Wyczyść</button>
      </div>
    </div>
  </form>

</div>
