<app-header>
  <p levels>Cars</p>
  <div content>
    <p>Lista samochodów w serwisie</p>
  </div>
</app-header>
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <table *ngIf="cars && cars.length>0; else noCarsInfo" class="cs-table table table-striped">
        <thead>
          <tr>
            <th>Model</th>
            <th>Nr rejestracyjny</th>
            <th>Data dostarczenia</th>
            <th>Termin oddania</th>
            <th>Klient</th>
            <th>Koszt </th>
            <th>Usuń</th>
          </tr>
        </thead>
        <tbody>
          <tr class="row-car" [ngClass]="{'row-error':car.isFullyDamaged}" *ngFor="let car of cars; let i=index" (click)='goToCarDetails(car)'>
            <td>{{car?.model}}</td>
            <td>{{car?.plate}}</td>
            <td>{{car?.deliveryDate}}</td>
            <td>{{car?.deadline}}</td>
            <td>{{car?.clientFirstName}} {{car?.clientSurname}}</td>
            <td>{{car?.cost}}</td>
            <td>( x )</td>
          </tr>
        </tbody>
      </table>
      <ng-template #noCarsInfo>
        <div class="no-cars-info">
          <p>Brak samochodów do wyświetlenia</p>
        </div>
      </ng-template>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <button (click)="showGross()" class="btn btn-primary float-left">Pokaż kwotę brutto</button>
    </div>
  </div>
  <app-total-cost #totalCostRef [totalCost]='totalCost' (shownGross)="onShownGross($event)"></app-total-cost>
  <div class="row " *ngIf="grossCost">
    <div class="col-sm-12">
      <div class="total-cost">
        <p class="text-right">Kwota brutto:{{grossCost}} PLN</p>
      </div>
    </div>
  </div>
</div>
<p class="data-header">Dodaj nowy samochód</p>
<div class="data-container">
  <form>
    <div class="row form-group">
      <div class="col-sm-4">
        <label for="">Model</label>
        <input type="text" class="form-control" placeholder="model">
      </div>
      <div class="col-sm-4">
        <label for="">Typ</label>
        <input type="text" class="form-control" placeholder="typ">
      </div>
      <div class="col-sm-4">
        <label for="">Numer rejestracyjny</label>
        <input type="text" class="form-control" placeholder="numer rejestracyjny">
      </div>
    </div>
    <div class="row form-group">
      <div class="col-sm-4">
        <label for="">Data dostarczenia</label>
        <input type="text" class="form-control" placeholder="data dostarczenia">
      </div>
      <div class="col-sm-4">
        <label for="">Termin oddania</label>
        <input type="text" class="form-control" placeholder="termin oddania">
      </div>
      <div class="col-sm-4">
        <label for="">Kolor</label>
        <input type="text" class="form-control" placeholder="kolor">
      </div>
    </div>
    <div class="row form-group">
      <div class="col-sm-4">
        <label for="">Moc</label>
        <input type="text" class="form-control" placeholder="moc">
      </div>
      <div class="col-sm-4">
        <label for="">Klient: imię</label>
        <input type="text" class="form-control" placeholder="imię">
      </div>
      <div class="col-sm-4">
        <label for="">Klient: nazwisko</label>
        <input type="text" class="form-control" placeholder="nazwisko">
      </div>
    </div>
    <div class="row form-group">
      <div class="col-sm-4">
        <label for="">Jest uszkodzony?
          <input type="checkbox" class="form-control" placeholder="uszkodzony">
        </label>
      </div>
      <div class="col-sm-4">
        <label for="">Koszt</label>
        <input type="text" class="form-control" placeholder="koszt">
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <button type="submit" class="btn btn-primary float-right">Dodaj samochód</button>
      </div>
    </div>
  </form>
</div>
